{% extends "main.html" %}

{%block content%}

{% csrf_token %}
<section class="tconverter">
<form method="post" class="rn">
    <!-- <label class="title">Decimal to Hexadecimal</label> -->
    <label class="title">Number to Hexadecimal</label>
    <input type="text" placeholder="Enter number" value="{{ indata }}" name="data">
    <!-- <label class="p">Given Input: ({{ indata }})<sub>8</sub> </label> -->
    <label class="p">Given Input: {{ indata }} </label>
    {% if msg %}
    <label class="p">Output: <label style="color: lightcoral;">{{ msg }}</label></label> 
    {% else %}
    <label class="p">Output: <label class="ps">{{ d }} || ({{ d }})<sub>16</sub></label></label>    
    {% endif %}
    <div class="tresub">
        <button type="submit">Submit</button>
        <button><a href="{% url 'tools' %}">Return</a></button>
    </div>
</form>
</section>
{%endblock content%}